body, html{
    margin: 0;
    background-color: #11420e;
}
#container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#locations{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
}
.location{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}
.location > img{
    width: 90%;
    min-height: 325px;
}
.location > button{
    display:flex;
    justify-content: space-between;
    width: 70%;
}

.difficulties{
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.toggleDiffButton{
    margin-top: 25px;
    height: 50px;
    border: 3px solid black;
    font-size: 1.5em;
    width: 80%;
}
.diffButton{
    width: 90%;
    height: 25px;
    font-size: 1.1em;
    border: 1px solid black;
}

/*scorecard*/
#card{
    width: 100%;
    margin: 25px 15px 0 15px;
    display:flex;
    flex-direction: column;
}
#scorecard{
    width: calc(100% - 30px);
    height: auto;
    background-color: #dadfea;
    display:flex;
    margin: 0 auto;
    padding: 15px;
    overflow-x: scroll;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 3em;
    background-color: green;
    color:white;

}
.col{
    min-width: 50px;
    display:flex;
    flex-direction: column;
    width: auto;
}
#col0{
    min-width: 150px;
}
.rowbox {
    height: 50px;
    font-size: 1.25em;
    display:flex;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-width: 50px;
}
.message{
    color: white;
    font-size: 1.5em;
    text-align: center;
}

input{
    font-size: 1.3em;
    text-align: center;
    background-color: #dadfea;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#buttons{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 5px;
}
.defBtn{
    border: 3px solid black;
    width: 200px;
    min-height: 50px;
    border-radius: 5px;
    margin: 25px 0;
    font-size: 1.5em;
}

@media screen and (max-width: 700px){
    #scorecard{
        flex-direction: column;
    }
    .col{
        flex-direction: row;
        min-width: 50px;
    }
    .rowbox{
        /*min-width: 50px;*/
    }
}