body, html{
    margin: 0;
}
#locations{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
}
.location{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}
.location > img{
    width: 90%;
    min-height: 300px;
}
.location > button{
    display:flex;
    justify-content: space-between;
    width: 70%;
}

.difficulties{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*scorecard*/
#card{
    width: 90%;
    margin: 0 auto;
}
#scorecard{
    width: 100%;
    background-color: #dadfea;
    border-radius: 10px;
    display:flex;
}
.title{
    font-size: 3em;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: green;
}
.col{
    min-width: 50px;
    display:flex;
    flex-direction: column;
}
.rowbox {
    height: 50px;
    font-size: 1.25em;
    display:flex;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}
.rowbox > input{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    background-color: #dadfea;
}